@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@700&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 2vw;
    background-color: #100127;
    z-index: 100;
}

.logo-div{
    display: flex;
    align-items: center;
    width: 30%;
    padding-left: 2vw;
}

.logo-div a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image{
    width: 320px;
}

.navbar-div-two{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-div-two a{
    padding: 4px 0;
    margin-left: 32px;
    text-decoration: none;
    color: #d3d3d3;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.navbar-div-two a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #00b395;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.navbar-div-two a:hover{
    color: #00b395;
    cursor: pointer;
}

.navbar-div-two a:hover::before{
    width: 100%;
}

.hamburger{
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;
    cursor: pointer;
    z-index: 200;
    height: 26px;
}

.hamburger .bar{
    width: 40px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff ;
    transition: 0.2s;
}


/* Home Component */

.home-div{
    margin-top: 80px;
    background-color: #12002e;
    padding: 4vw 6vw;
    display: flex;
    justify-content: space-between;
    color: white;
    
}

.my-image-div{
    width: 40%;
}

.my-image-div img{
    width: 100%;
}

.home-right-div{
    width: 56%;
}

.introduction-p{
    margin-bottom: 16px;
    
}

.home-right-div h1{
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

.colored-name{
    font-family: 'Poppins', sans-serif;
    color: #00b395;
}

.my-description-p{
    margin-bottom: 36px;
    font-size: 18px;
}

.about-me-links{
    display: flex;
    align-items: center;
}

.about-me-btn{
    padding: 12px 48px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #00b395;
    border: 1px solid #00b395;
    position: relative;
    background: none;
    z-index: 1;
}
.about-me-btn:hover{
    color: #12002e;
}
.about-me-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00b395;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}

.about-me-btn:hover::before{
    transform: scaleX(1);
}

.home-div-icons{
    margin-left: 36px;
}

.home-div-icons a{
    font-size: 24px;
    color: #00b395;
    margin-left: 12px;
    text-decoration: none;
}





/* Contact Component */

.contact-div{
    padding: 4vw 6vw;
    background-color: #100127;
    color: white;
}

#contact-h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 56px;
}

.contact-page-top-inner-div{
    margin: 3vw 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-page-top-div-left{
    width: 48%;
}

.contact-page-top-div-left img{
    width: 100%;
}

.contact-page-top-div-right{
    width: 48%;
}

.contact-page-top-div-right-icons{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.contact-page-top-div-right-icons i{
    color: #39A126;
    font-size: 24px;
    padding: 24px;
    background-color: #e9ffe5;
    border-radius: 50%;
    margin-right: 30px;
}





@media (max-width: 800px) {

    .logo-div{
        width: 60%;
        justify-content: flex-start;
    }

    .logo-div .logo-image{
        width: 70%;
    }

    .navbar-div-two{
        width: 80%;
        padding: 100px 6vw;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #12002e;
        height: 100vh;
        top: 0;
        right: -100%;
        transition: 0.5s;
        overflow: auto;
    }

    .navbar-div-two.active{
        right: 0;
    }

    .navbar-div-two a{
        color: white;
        display: block;
        padding: 8px;
        margin: 0;
    }
    
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburger.active .bar:nth-child(2){
        display: none;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(11px) rotate(135deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-11px) rotate(-135deg);
    }
}


