@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@700&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 2vw;
    background-color: #100127;
    z-index: 100;
}

.logo-div{
    display: flex;
    align-items: center;
    width: 30%;
    padding-left: 2vw;
}

.logo-div a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image{
    width: 320px;
}

.navbar-div-two{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-div-two a{
    padding: 4px 0;
    margin-left: 32px;
    text-decoration: none;
    color: #d3d3d3;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.navbar-div-two a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #00b395;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.navbar-div-two a:hover{
    color: #00b395;
    cursor: pointer;
}

.navbar-div-two a:hover::before{
    width: 100%;
}

.hamburger{
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;
    cursor: pointer;
    z-index: 200;
    height: 26px;
}

.hamburger .bar{
    width: 40px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff ;
    transition: 0.2s;
}


/* general */

#the-bold-h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 48px;
}

.colored-name{
    font-family: 'Poppins', sans-serif;
    color: #00b395;
}

/* Home Component */

.home-div{
    margin-top: 80px;
    background-color: #19033d;
    padding: 4vw 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

.my-image-div{
    width: 40%;
}

.my-image-div img{
    width: 100%;
}

.home-right-div{
    width: 56%;
}

.introduction-p{
    margin-bottom: 16px;
}

.home-right-div h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
}

.my-description-p{
    margin: 32px 0 36px;
    font-size: 18px;
}

.about-me-links{
    display: flex;
    align-items: center;
}

.about-me-btn{
    padding: 12px 48px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #00b395;
    border: 1px solid #00b395;
    position: relative;
    background: none;
    z-index: 1;
}
.about-me-btn:hover{
    color: #12002e;
}
.about-me-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00b395;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}

.about-me-btn:hover::before{
    transform: scaleX(1);
}

.home-div-icons{
    margin-left: 36px;
}

.home-div-icons a{
    font-size: 24px;
    color: #00b395;
    margin-left: 12px;
    text-decoration: none;
}

/* Resume */

#resume-div{
    padding: 4vw 10vw;
    background-color: #100127;
    color: white;
    text-align: center;
}

#education-experience-wrapper{
    display: flex;
}

.resume-left-right-div{
    width: 50%;
}

.resume-sec-headers{
    margin: 24px 0;
}

.resume-one-box{
    display: flex;
    align-items: stretch;
    margin-bottom: 24px;
}

.the-lines{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square-span-box{
    width: 20px;
    height: 20px;
    border: 3px solid #00b395;
    border-radius: 4px;
}

.straight-horizontal{
    width: 3px;
    height: 100%;
    background-color: #00b395;
}

.resume-box-text{
    background-color: #18345d;
    padding: 64px;
    border-radius: 4px;
    margin: 0 4px;
}

.resume-box-text:hover{
    background-color: #00b395;
    color: #19033d;
}

.resume-box-text h3{
    margin: 16px 0;
}



/* Skills */


.skills {
    width: 100%;
    color: #fff;
    padding: 64px 0;
    background-color: #100127;
  }
  
  .skills-div-two {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 36px auto 0;
    border-left: 1px solid #18345d;
  }
  
  .tabs {
    width: 20%;
  }
  
  .tab {
    cursor: pointer;
    transition: 0.3s;
    display: block;
    color: #fff;
    padding: 12px 10px;
    text-align: start;
    width: 100%;
  }
  
  .tab.active {
    border-left: 2px solid #64ffda;
    background-color: #072044;
    color: #64ffda;
  }
  
  .tab:hover {
    background-color: #072044;
  }
  
  .tabs-two {
    width: 75%;
    padding: 5px;
  }
  
  .tabcontent {
    display: none;
  }
  
  .tabcontent.active {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tabcontent.active div {
    border: 1px solid #64ffda;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .tabcontent.active div img {
    width: 60%;
  }

/* blogs */

.my-blog{
    background-color: #19033d;
    color: white;
    padding: 5vw 8vw;
}

.blogs-div{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

a.one-blog{
    width: 32%;
    color: white;
    text-decoration: none;
}
.blog-image-div{
    overflow: hidden;
}
a.one-blog img{
    width: 100%;
    display: block;
    transition: 0.5s;
}
a.one-blog:hover img{
    transform: scale(1.1);
}
a.one-blog:hover .blog-text-div-p1{
    color: #00b395;
}
.blog-text-div{
    padding: 40px;
    background-color: #100127;
}
.blog-text-div-p1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
    transition: 0.5s;
}

/* Contact Component */

.contact-div{
    padding: 4vw 10vw 6vw;
    background-color: #100127;
    color: white;
}

.contact-information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
}

.contact-icons{
    width: 48%;
}

.contact-icons-one-div{
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.contact-icons-one-div i{
    padding: 16px;
    background-color: #00b395;
    text-align: center;
    font-size: 32px;
    color: #12002e;
    border-radius: 50%;
}

.contact-icons-text{
    margin-left: 24px;
}

#location-icon{
    padding: 16px 20px;
}

.contact-form{
    width: 48%;
}

#form-inputs-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#form-inputs-top input{
    width: 48%;
    border: 1px solid #00b395;
    background-color: transparent;
    height: 48px;
    border-radius: 8px;
    padding: 0 16px;
    color: white;
}

#form-inputs-top input:focus, #form-textarea:focus{
    outline: none;
}

#form-textarea{
    display: block;
    width: 100%;
    border: 1px solid #00b395;
    background-color: transparent;
    height: 160px;
    border-radius: 8px;
    padding: 16px;
    color: white;
    margin: 24px 0;
    resize: none;
}

#submit-btn, #submit-btn::before{
    border-radius: 8px;
}

.embeded-map{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
}


/* Footer */

footer{
    padding: 4vw 10vw;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #12002e;
    font-size: 18px;
}


@media (max-width: 1200px) {
    .home-right-div h1{
        font-size: 42px;
    }
}


@media (max-width: 960px) {
    .home-div{
        flex-direction: column;
    }
    .my-image-div, .home-right-div{
        width: 100%;
    }
    #education-experience-wrapper{
        flex-direction: column;
    }
    .resume-left-right-div{
        width: 100%;
    }
    #resume-div{
        padding: 4vw 6vw;
    }
    .my-blog{
        padding: 4vw;
    }
    .blogs-div{
        flex-wrap: wrap;
    }
    .blog-text-div-p1{
        font-size: 24px;
    }
    a.one-blog{
        width: 48%;
        margin-bottom: 16px;
    }
    .blog-text-div{
        padding: 24px;
    }
}

@media (max-width: 800px) {

    .logo-div{
        width: 60%;
        justify-content: flex-start;
    }

    .logo-div .logo-image{
        width: 70%;
    }

    .navbar-div-two{
        width: 80%;
        padding: 100px 6vw;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #12002e;
        height: 100vh;
        top: 0;
        right: -100%;
        transition: 0.5s;
        overflow: auto;
    }

    .navbar-div-two.active{
        right: 0;
    }

    .navbar-div-two a{
        color: white;
        display: block;
        padding: 8px;
        margin: 0;
    }
    
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburger.active .bar:nth-child(2){
        display: none;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(11px) rotate(135deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-11px) rotate(-135deg);
    }

    .home-right-div h1{
        font-size: 36px;
    }

    .contact-information{
        flex-direction: column;
    }

    .contact-icons, .contact-form{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .home-right-div h1{
        font-size: 24px;
    }
    .skills-div-two{
        display: block;
        border: none;
    }
    .tabs{
        display: flex;
        width: auto;
        overflow: auto;
        margin-bottom: 20px;
    }
    .tab{
        min-width: max-content;
    }
    .tab.active{
        border-left: none;
    }
    .tabs-two{
        width: 100%;
    }
    .resume-box-text{
        padding: 16px;
    }
}

@media (max-width: 400px) {

    .about-me-btn{
        padding: 8px 24px;
    }

    .home-div-icons{
        margin-left: 16px;
    }

    #form-inputs-top{
        flex-direction: column;
    }

    #form-inputs-top input{
        width: 100%;
        margin-top: 16px;
    }
}